body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif; 
}

.arregloespacio{
    margin-right: 10px;
}
.post {
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    color: black; 
    border-radius: 10px;
    overflow: hidden;
    border-radius: 0; 
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.post-header i {
    font-size: 30px; 
}

.iconoscolumna {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-size: 10px;
    margin-top: 0px;
}
.arregloabajo{
    margin-bottom: 2px;
}
.arreglocolumna{
    margin-top: 2px;
}

.moveralfinal {
    margin-left: auto;
}

.post-img img {
    width: 100%; 
}

.post-icons {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.arregloizquierda{
    margin-left: 360px;
}

.post-icons i {
    font-size: 24px; 
}

.post-body {
    padding: 10px;
}

.post-body p {
    margin: 5px 0;
}